<div class="col-sm-12 external-link-control" id="js-fieldset-{{ id }}" {{^isVisible}} style="display:none;" {{/isVisible}}>
	<a id="{{ id }}" href="{{ url }}" target="_blank">{{ labelText }} <img src="stylesheets/external-link-black-12x12.png" alt="Open new tab" class="external-link"/></a>
</div>
