<div tabindex="-1" id="js-form-group-{{ id }}" class="col-sm-8 form-group {{# isOptionsInline }}form-inline{{/ isOptionsInline }} {{# isRequired }}required{{/ isRequired }} {{# isErrorVisible }}error{{/ isErrorVisible}}" {{^isVisible}}style="display:none;"{{/isVisible}}>

    <fieldset>
        <legend class="label-text">{{ labelText }}</legend>
        {{^isRequired}}<span class="is-required-text">(Optional)</span>{{/isRequired}}

        <span class="error-message" {{^isErrorVisible}}style="display:none;"{{/isErrorVisible}}> {{validationMessage}}</span>

        {{#hintText}}
            <div class="form-hint">{{hintText}}</div>
        {{/hintText}}


		{{#options }}
			<div class="radio">
				<label class="{{^isOptionsInline}}radio{{/isOptionsInline}} {{#isOptionsInline}}radio-inline {{/isOptionsInline}}{{#isSelected }}selected{{/isSelected}}" for="{{optionId}}" id="label__radio-{{optionId}}">
					<div class="error-radio"></div>
					<input type="radio" id="{{optionId}}" name="{{optionName}}" value="{{optionValue}}" {{# isSelected }}checked="checked"{{/ isSelected}}  js-data-validation-rules="{{ validationRules }}" {{# revealId }} js-data-reveals="{{ revealId }}" {{/ revealId }}>
					<span class="option-label-text">{{#optionHeading}}<strong>{{optionHeading}}</strong><br>{{/optionHeading}}{{{optionLabelText}}}</span>
				</label>
			</div>
		{{/options}}
	</fieldset>

	{{^options}}
		<div class="validation-summary">
			<p class="validation-message">No options present for this radio question: '{{labelText}}'.</p>
		</div>
	{{/options}}

</div>
