<div  tabindex="-1" id="js-form-group-{{ id }}" class="col-sm-12 form-group {{# isRequired }} required {{/ isRequired }} {{# isErrorVisible }}error {{/ isErrorVisible}}" {{^isVisible}}style="display:none;"{{/isVisible}} >

	<label class="label-text" for="{{ id }}" id="label__textarea-{{id}}">{{ labelText }}</label>
	{{^isRequired}}<span class="is-required-text">(Optional)</span>{{/isRequired}}

	<span class="error-message mb-1" {{^isErrorVisible}}style="display:none;"{{/isErrorVisible}}>{{validationMessage}}</span>

	{{#hintText}}
		<div class="form-hint mb-1">{{hintText}}</div>
	{{/hintText}}

	<textarea rows="6" class="form-control" name="{{# name}}{{ name }}{{/name}}{{^name}}{{ id }}{{/name}}" id="{{ id }}">{{ answerValue }}</textarea>
</div>
